<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="YaCy Suchmaschine search engine spider harvester indexer p2p peer network open free download software development">
    <meta name="copyright" content="Michael Peter Christen">

    {% if config.site_description %}<meta name="description" content="{{ config.site_description }}">{% endif %}
    {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
    {% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
    <link rel="{{ 'img/favicon.ico'|url }}">

    {% block htmltitle %}
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    {% endblock %}

    <script src="{{ 'js/jquery.min.js'|url }}"></script>
    <script src="{{ 'js/jquery.dataTables.min.js'|url }}"></script>
    <script src="{{ 'js/dataTables.bootstrap.min.js'|url }}"></script>
    <script src="{{ 'js/bootstrap.min.js'|url }}"></script>
    <script src="{{ 'js/bootstrap-table.min.js'|url }}"></script>
    <!-- <script src="{{ 'js/bootstrap-table-foundation.min.js'|url }}"></script>-->
    <link href="{{ 'css/hack.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/latolatinfonts.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/bootstrap-custom.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/bootstrap-table.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/bootstrap-table-foundation.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/base.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/cinder.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/highlight.css'|url }}" rel="stylesheet">
    <!-- <link href="{{ 'css/latostyle.css'|url }}" rel="stylesheet">-->
    <style>
      div.mermaid {
         font-family: 'Courier New', Courier, monospace !important;
      }
    </style>

    {%- for path in config['extra_css'] %}
    <link href="{{ path|url }}" rel="stylesheet">
    {%- endfor %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->

    {% block extrahead %} {% endblock %}
</head>

<body{% if page and page.is_homepage %} class="homepage" {% endif %}>

    {%- block scripts %}
    <script src="{{ 'js/fontawesome-all.js'|url }}"></script>
    <script src="{{ 'js/highlight.pack.js'|url }}"></script>
    <script src="{{ 'js/mermaid.min.js'|url }}"></script>

    <script>hljs.initHighlightingOnLoad();</script>
    <script>var base_url = {{ base_url | tojson }}</script>
    {% if config.shortcuts %}
        <script>var shortcuts = {{ config.shortcuts | tojson }}</script>
    {% endif %}
    <script src="{{ 'js/base.js'|url }}"></script>
    {%- for path in config['extra_javascript'] %}
    <script src="{{ path|url }}"></script>
    {%- endfor %}
    {%- endblock %}

    {% include "nav.html" %}

    <div class="container">
        {% block content %}
        {% if page.meta.disable_toc %}
        <div class="col-md-12" role="main">{% include "content.html" %}</div>
        {% else %}
        <div class="col-md-3">{% include "toc.html" %}</div>
        <div class="col-md-9" role="main">{% include "content.html" %}</div>
        {% endif %}
        {% endblock %}
    </div>

    <br/><br/>
    <footer class="col-md-12 text-center" style="background-color:#000000;" >
<div class="container" style="text-align:left; font-size:13px; padding-top:30px;">
      <div class="row">
        <div class="col-md-3" style="padding-left:15px; padding-right:15px;">
          <h3>Products</h3>
          <p>YaCy is both the name of a project and the name of a software. Our 'products' (it's free-software) is
        <ul>
          <li>The <a href="https://yacy.net">YaCy Search Server</a> - go to <a href="https://yacy.net">https://yacy.net</a> for more details</li>
          <li>The <a href="searchlab.eu">YaCy Searchlab</a>, this portal.</li>
        </ul>
      </p>
        </div>
        <div class="col-md-3" style="padding-right:15px;">
          <h3>GDPR Compliance</h3>
          <p>YaCy has a strong connection to privacy-aware tools. As such it does not collect personalized data. It also has no 'phoning-home' integrated. This web page does not use cookies. However, linked services may have cookies.</p>
       </div>
        <div class="col-md-3" style="padding-right:15px;">
          <h3>Company</h3>
          <p>The brand 'YaCy' is owned in a private company. While the software YaCy is a non-profit, free software we also provide consulting for YaCy and search-related business topics. To run the non-profit YaCy project we heavily depend on community support either as contribution to our software and documentation or on donations. Please donate! For a contact please see&nbsp;
{%- if page.url == '' -%}
<a href="impressum/">Impressum</a>
{% else %}
<a href="../impressum/">Impressum</a>
{%- endif %}


</p>
        </div>
        <div class="col-md-3" style="padding-right:15px;">
          <h3>Follow Us</h3>
          <ul>
        <li>Searchlab Community: <a href="https://searchlab.eu/">searchlab.eu</a> (temporary)</li>
        <li>Twitter Community: <a href="https://twitter.com/yacy_search">@yacy_search</a></li>
        <li>Patreon Community: <a href="https://patreon.com/orbiterlab">patreon.com/orbiterlab</a></li>
        <li>Github Sponsors: <a href="https://github.com/sponsors/Orbiter">github.com/sponsors/Orbiter</a></li>
        <li>YaCy Tutorials: <a href="https://www.youtube.com/YaCyTutorials">youtube.com/YaCyTutorials</a></li>
        <li>GitHub: <a href="https://github.com/yacy/searchlab">github.com/yacy/searchlab</a></li>
      </ul>
        </div>
      </div>
</div>


        {% block footer %}
        <p>{% if config.copyright %}
        <hr>
        <small>{{ config.copyright }}<br></small>
        {% endif %}
        <!--
    <small>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p></small>
    -->

        {% if page and page.meta.revision_date %}<br>
        <small>Revised on: {{ page.meta.revision_date }}</small>
        {% endif %}
        {% endblock %}
    </footer>

    <script>
    mermaid.initialize({
    theme: 'dark',
    // themes: default, forest, dark, neutral
    // themeCSS: '.node rect { fill: red; }',
    logLevel: 3,
    securityLevel: 'loose',
    flowchart: { curve: 'basis' },
    gantt: { axisFormat: '%m/%d/%Y' },
    sequence: { actorMargin: 50 },
    // sequenceDiagram: { actorMargin: 300 } // deprecated
    });
    </script>

    {% if 'search' in config['plugins'] %}{%- include "search-modal.html" %}{% endif %}
    {%- include "keyboard-modal.html" %}
    </body>

</html>
