<script>
    // modify this according to the location of your elasticsearch instance
    var search_api = "http://searchlab.eu/api/yacysearch.json";
</script>

<!-- CSS (C) MIT License by Arham Jain from https://github.com/ajusa/lit.git, slightly modified -->
<style>
    :root { --font: Arial; --primary-color: #2B3E50; --light: #f5f5f5; }
    * { box-sizing: border-box; } *+* { margin: .5em 0; } pre { overflow: auto }
    @media(min-width:35em) {
     .col { display: table-cell; } .row { display: table; border-spacing: 1em 0; }
     .\31 { width: 5%; }  .\32 { width: 15%; } .\33 { width: 22%; } .\34 { width: 30%; } .\35 { width: 40%; } .\36 { width: 50%; }
    }
    .w-100, .row { width: 100%; } .w-75, .row { width: 75%; } a:hover, .btn:hover { opacity: .6; }
    .card:focus, hr { outline: 0; border: solid var(--primary-color); }
    .card, pre { padding: 1em; border: solid var(--light); }
    .c { max-width: 60em; padding: 1em; margin: auto; font: 1em/1.6 var(--font); }
    h1 { font: 100 2.5em var(--font); } h2 { font: 100 2.2em var(--font); } h3 { font: 100 2em var(--font); }
    h4 { font: 100 1.5em var(--font); } h5 { font: 100 1.2em var(--font); } h6 { font: 100 1em var(--font); }
    a { color: var(--primary-color); text-decoration: none; }
    .btn.primary { color: white; background: var(--primary-color); border: solid var(--primary-color); }
    td, th { padding: 1em; text-align: left; border-bottom: solid var(--light); }
    .btn { padding: 1em; text-transform: uppercase; background: white; border: solid; font: .7em var(--font); }
</style>

<script>
    // t.min.js from https://github.com/jasonmoo/t.js (C) MIT License by Jason Mooberry 
    (function(){function c(a){this.t=a}function l(a,b){for(var e=b.split(".");e.length;){if(!(e[0]in a))return!1;a=a[e.shift()]}return a}function d(a,b){return a.replace(h,function(e,a,i,f,c,h,k,m){var f=l(b,f),j="",g;if(!f)return"!"==i?d(c,b):k?d(m,b):"";if(!i)return d(h,b);if("@"==i){e=b._key;a=b._val;for(g in f)f.hasOwnProperty(g)&&(b._key=g,b._val=f[g],j+=d(c,b));b._key=e;b._val=a;return j}}).replace(k,function(a,c,d){return(a=l(b,d))||0===a?"%"==c?(new Option(a)).innerHTML.replace(/"/g,"&quot;"):
    a:""})}var h=/\{\{(([@!]?)(.+?))\}\}(([\s\S]+?)(\{\{:\1\}\}([\s\S]+?))?)\{\{\/\1\}\}/g,k=/\{\{([=%])(.+?)\}\}/g;c.prototype.render=function(a){return d(this.t,a)};window.t=c})();
</script>

<div class="c">
    <h1>Searchlab&nbsp;/ Search&nbsp;Template</h1>

    <div class="row">
        <input type="text" name="query" id="query" class="card w-75" autofocus="autofocus" onFocus="this.select()" onClick="document.getElementById('startRecord').value=0;document.getElementById('query').value='';"/>&nbsp;
        <input type="hidden" name="startRecord" id="startRecord" value="0"/>
        <button id="search" onclick="return getapi()" class="btn primary">search</button>
    </div>

    <!-- template for result list used by t.js -->
    <script type="t/template" id="resulttemplate">
        {{=results}}
        {{@items}}
        <div class="panel panel-default">
            <h4 class="panel-title"><a href="{{=_val.link}}" target="_blank">{{=_val.title}}</a></h4>
            <p>{{=_val.description}}</p>
            <p><a href="{{=_val.link}}" target="_blank">{{=_val.link}}</a><br>{{=_val.sizename}}</p>
        </div>
        {{/@items}}
    </script>
    <div id="result"></div>

    <!-- template for pagination bar used by t.js -->
    <script type="t/template" id="paginationtemplate">
        <div class="btn-group" role="group" aria-label="pagination">
            {{@items}}
                <button type="button" class="btn {{_val.same}}primary{{/_val.same}} btn-xs" onClick="document.getElementById('startRecord').value={{=_val.startRecord}}; getapi();">{{=_val.page}}</button>
            {{/@items}}
        </div>
    </script>
    <div id="pagination"></div>
    <a href="http://searchlab.eu">Get a personalized search from searchlab.eu</a>
</div>

<script>
    // XHR request to evaluate search request
    function getapi() {
        const query = document.querySelector('#query').value;
        const startRecord = parseInt(document.querySelector('#startRecord').value); // starts at 0
        const xhr = new XMLHttpRequest();
        xhr.open('GET', search_api + '?startRecord=' + startRecord + '&query=' + query);
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.responseType = 'json';
        xhr.send();
        xhr.onload = function() {
            var channel = xhr.response.channels[0];
            var pages = Math.floor(channel.totalResults / channel.itemsPerPage) + 1;
            channel["results"] = channel.totalResults == 0 ? "" : "<p>" + channel.totalResults + " hits, page " + (Math.floor(startRecord / channel.itemsPerPage) + 1) + " of " + pages + "</p>";
            // result list 
            document.getElementById("result").innerHTML = new t(document.getElementById('resulttemplate').innerHTML).render(channel);
            // page navigation
            document.getElementById("pagination").innerHTML = new t(document.getElementById('paginationtemplate').innerHTML).render({"items": channel.pagenav});
        }
    }
    // event listener on query field to trigger search button when enter is hit
    var input = document.getElementById("query");
    input.addEventListener("keyup", function(event) {if (event.keyCode === 13) {return getapi();}});
</script>
